<div class='container'>
  <div class='row col-12 col-md-7'>
    <table
      class='table align-middle table-dark table-striped table-bordered text-center'
    >
      <thead>
        <tr>
          <th scope='col'>Nombre</th>
          <th scope='col'>Precio</th>
          <th scope='col'>Imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#each productos}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
              <div class='text-center wd-100'>
                <div
                  class='card'
                  style='width: 4rem; margin-left: auto; margin-right: auto;'
                >
                  <img
                    src='{{this.thumbnail}}'
                    class='card-img-top mx-auto d-block'
                    alt='...'
                  />
                </div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>